html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 0px 10px;
  background-color: #eee;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.introduction {
  text-align: center;
}

article {
  display: block !important;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

article section {
    margin-bottom: 2em;
}

article h2 {
    margin-top: 2em;
}

pre {
    background: #fafefe;
    padding: 0.5em;
}

article .description {
    margin: 1em;
    padding: 1em;
    max-width: 60em;
    background: #fafafa;
    border: 0.1em solid #eee;
}

article .description h2 {
    margin: 0;
}

/* hompage */
img {
  max-width: 100%;
}

a {
  color: #2ea3f2;
}

.header {
  color: white;
  width: 100%;
  min-height: 10em;
  text-align: center;
  overflow: hidden;
  background-image:linear-gradient(#2ea3f2, #003142);
}

.github-fork-ribbon-wrapper {
  width: 15em;
  height: 15em;
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon {
  position: absolute;
  padding: 2px 0px;
  background-color: rgb(0, 153, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.14902));
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 3px 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-stretch: normal;
  font-size: 1.3rem;
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 9999;
  pointer-events: auto;
  top: 4.2rem;
  right: -4.3rem;
  transform: rotate(45deg);
}

.github-fork-ribbon a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px -1px;
  text-align: center;
  width: 200px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 0px;
  border-width: 1px 0px;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.701961);
}
.grid {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%,
    rgba(255, 255, 255, .1) 25%,
    rgba(255, 255, 255, .1) 26%,
    transparent 27%,
    transparent 74%,
    rgba(255, 255, 255, .1) 75%,
    rgba(255, 255, 255, .1) 76%,
    transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%,
    rgba(255, 255, 255, .1) 25%,
    rgba(255, 255, 255, .1) 26%,
    transparent 27%,
    transparent 74%, rgba(255, 255, 255, .1) 75%,
    rgba(255, 255, 255, .1) 76%,
    transparent 77%, transparent);
  height:100%;
  width: 100%;
  background-size:50px 50px;
  padding: 1em;
}

.header h1 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

@media (min-width: 45em) {
  .header h1 {
    font-size: 3em;
  }
}

.header p {
  margin: 0 auto 2em;
  max-width: 25em;
}

.header-nav {
  background-color: #003142;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  display: inline-block;
}

.header-nav ul li a {
  color: #fba600;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.container {
  max-width: 60em;
}

.row {
  display: block;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin-top: -1px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.m50 {
  display: block;
  float: none;
  width: 100%;
}

.m50 h2 {
  border-bottom: 1px solid #2ea3f2;
  margin-top: 0;
}

.m50 h2 a {
  color: #003142;
  text-decoration: none;
}

.m50 h2 a:hover {
  color: #2ea3f2;
}

@media (min-width: 45em) {
  .container {
    margin: 2em auto;
  }
  .row {
    margin-top: 0;
    margin-bottom: 2em;
  }
  .m50 {
    width: 50%;
    float: left;
  }
}

.img {
  background-color: white;
  padding: 1em 1em;
}

.copy {
  padding: 1em;
}

.menu__all-charts {
  color: #fba600 !important;
}
